:root {
  --column: repeat(16, 1fr);
}

body {
  background-color: #E4BFBA;
}

.container {
  display: grid;
  grid-template-columns: var(--column);
  padding-top: 100px;
  width: 496px;
  height: 496px;
}

.gridPiece {
  max-width: 496px;
  max-height: 496px;
  border: #BFBAE4;
  border-style: groove;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  width: 25%;
  display: flex;
  justify-content: center;
}



.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  text-align: center;
}